.flow.json.backup
[{"id":"ac88da22.d854a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7493e9ee.4b09e8","type":"comment","z":"ac88da22.d854a8","name":"Node-Red y Git","info":"","x":360,"y":100,"wires":[]},{"id":"20a2adc2.600a62","type":"inject","z":"ac88da22.d854a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":240,"wires":[[]]},{"id":"48fb297d.108b98","type":"debug","z":"ac88da22.d854a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":240,"wires":[]}]