.flow.json.backup
[{"id":"ac88da22.d854a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a70dea94.2eca48","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"grupounoiot","tz":""},{"id":"7493e9ee.4b09e8","type":"comment","z":"ac88da22.d854a8","name":"Node-Red y Git","info":"","x":360,"y":100,"wires":[]},{"id":"20a2adc2.600a62","type":"inject","z":"ac88da22.d854a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":280,"wires":[["48fb297d.108b98"]]},{"id":"48fb297d.108b98","type":"debug","z":"ac88da22.d854a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":280,"wires":[]},{"id":"6530bc00.b9afa4","type":"mysql","z":"ac88da22.d854a8","mydb":"a70dea94.2eca48","name":"registrosensor","x":360,"y":200,"wires":[["77262e4c.507af"]]},{"id":"6b954771.f02e28","type":"inject","z":"ac88da22.d854a8","name":"Crear Tabla SQL","topic":"CREATE TABLE `registrosensor` (`id` INT NOT NULL AUTO_INCREMENT, `temperatura` FLOAT NOT NULL, `humedad` FLOAT NOT NULL, `fecha` TIMESTAMP NOT NULL, PRIMARY KEY (`id`)) ENGINE = InnoDB","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["6530bc00.b9afa4"]]},{"id":"733070e2.ba5d5","type":"inject","z":"ac88da22.d854a8","name":"Mostrar Tablas sql","topic":"describe registrosensor","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["6530bc00.b9afa4"]]},{"id":"77262e4c.507af","type":"debug","z":"ac88da22.d854a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":200,"wires":[]}]