flow.json
[{"id":"ac88da22.d854a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a70dea94.2eca48","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"grupounoiot","tz":""},{"id":"b796efe5.5090d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7493e9ee.4b09e8","type":"comment","z":"ac88da22.d854a8","name":"Node-Red y Git","info":"","x":420,"y":20,"wires":[]},{"id":"6530bc00.b9afa4","type":"mysql","z":"ac88da22.d854a8","mydb":"a70dea94.2eca48","name":"registrosensor","x":520,"y":180,"wires":[["77262e4c.507af"]]},{"id":"6b954771.f02e28","type":"inject","z":"ac88da22.d854a8","name":"Crear Tabla SQL","topic":"CREATE TABLE `registrosensor` (`id` INT NOT NULL AUTO_INCREMENT, `temperatura` FLOAT NOT NULL, `humedad` FLOAT NOT NULL, `fecha` TIMESTAMP NOT NULL, PRIMARY KEY (`id`)) ENGINE = InnoDB","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":60,"wires":[["6530bc00.b9afa4"]]},{"id":"77262e4c.507af","type":"debug","z":"ac88da22.d854a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":180,"wires":[]},{"id":"b754bce6.4c261","type":"inject","z":"ac88da22.d854a8","name":"","topic":"","payload":"{\"temperatura\":50,\"humedad\":90}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["e8a8b081.692b9"]]},{"id":"e8a8b081.692b9","type":"function","z":"ac88da22.d854a8","name":"Insert SQL","func":"temperatura = msg.payload.temperatura;\nhumedad = msg.payload.humedad;\nmsg.topic = \"insert into registrosensor(id, temperatura, humedad, fecha) values (default,\" + temperatura + \",\" + humedad + \",\" + \"CURRENT_TIMESTAMP\" + \")\";\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":180,"wires":[["6530bc00.b9afa4"]]},{"id":"c4ea370b.6efa58","type":"inject","z":"ac88da22.d854a8","name":"Consulta","topic":"select * from registrosensor","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":260,"wires":[["6530bc00.b9afa4"]]},{"id":"125a7164.a99f9f","type":"inject","z":"ac88da22.d854a8","name":"Actualizar","topic":"update registrosensor set temperatura=50 where id=2;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":320,"wires":[["6530bc00.b9afa4"]]},{"id":"693619cc.4a52e8","type":"inject","z":"ac88da22.d854a8","name":"Eliminar registro","topic":"delete from registrosensor where id > 3","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":380,"wires":[["6530bc00.b9afa4"]]}]